main {
  width: 600px;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 4px solid black;
}

.center-column {
  margin: 0 40px;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
}

.arrow-column {
  padding: 0 10px;
}

.progress-nav {
  text-align: center;
}
